extends ../basic

block content
  if !user
    h2 Please login to use the Admin.
    include ../account/mustlogin.jade

  else
    if !(admin.access)
      h2 You don't have permission to access this page
    else
      h2 Y2G Admin
      p logged in as&nbsp;
        strong
          a.openmodal(href='/account/profile/', data-modaltype='profile') #{user.name}
      if admin.listings
        h3 Listings:
        p
          a.btn-small(href="#", disabled) Manage Listings
          a.btn-small.flag(href="#", disabled) Flagged Listings
          a.btn-small(href="/admin/bulk") Bulk Import
      if admin.users
        h3 Users:
        p
          a.btn-small(href="#", disabled) Manage Users
      if admin.messages
        h3 Messages:
        p
          a.btn-small(href="#", disabled) Manage Messages
      if admin.manager
        h3 Reporting:
        p
          a.btn-small(href="#", disabled) Analytics
          a.btn-small(href="#", disabled) Exit Survey Results
    if user
      p role: #{user.role}
      li Access: #{admin.access}
      li Admin: #{admin.admin}
      li Listings: #{admin.listings}
      li Users: #{admin.users}
      li Messages: #{admin.messages}
      li Manager: #{admin.manager}
