- String.prototype.trunc = String.prototype.trunc || function(n){ return this.length>n ? this.substr(0,n-1)+'...' : this; };

if !user
  h2 You must be logged in to view listings
  include ../account/mustlogin.jade
  include ../snippets/footer-lite.jade
else
  h2 Your Listings
  if user.role = 'admin'
    ul.edit-listings.listing-cards
      each listing, i in listings
        - var created = moment(listing.created).format('MMM DD YYYY')
        - var description = listing.description.trunc('30')
        li(class=listing.type)
          button.card(href=listing.id)
            span.title #{listing.title}
            span.desc #{description}
            span.date #{created}
          .panel
            a.show-listing.fa.fa-map-marker(href="#", onclick='map.showListing(\"#{listing.id}\"); closeModal(); return false;', title="Show Listing")
            a.edit-listing.fa.fa-edit.openmodal(href='/listings/edit-single?id='+listing.id, data-modaltype='edit-listing', title="Edit Listing")
          // form.edit-listing-form(id='edit-listing-'+listing.id, onsubmit="Listings.update($(this)); return false;")
            .field.title
              label Title
              input(type="text")

  script(type="text/javascript", src="/javascripts/main.js")
  include ../snippets/footer-profile.jade
