- String.prototype.trunc = String.prototype.trunc || function(n){ return this.length>n ? this.substr(0,n-1)+'...' : this; };

if !user
  h2 You must be logged in to view listings
  include ../account/mustlogin.jade
  include ../snippets/footer-lite.jade
else
  if !listing
    h1 You must select a listing to edit
  else
    h1 Edit #{listing.title}
    form.edit-listing-form(id='edit-listing-'+listing.id, onsubmit="Listings.update($(this)); return false;", data-type=listing.type)
      .field.title
        label Title
        input(type="text", value=listing.title)
      .field(class=listing.type+" field type")
        #edit-choose-type(class=' clearfix choose-type')
          a.gardener(href="#", data-type="gardener")
            span Gardener
          a.space(href="#", data-type="space")
            span Available Space
          a.organic(href="#", data-type="organic")
            span Organic Materials
          a.tools(href="#", data-type="tools")
            span Tools & Stuff
        input#listingType(type="hidden", name="type",value=listingType)
        p.show-gardener This listing is for a Gardener looking for space to garden.
        p.show-space This listing is for available space for someone else to garden in.
        p.show-organic This listing is for extra organic materials to share (i.e. Mulch, worms, compost...etc).
        p.show-tools This listing is for extra tools to share.
      .field.location
        label Description
        input(type="text", value=listing.description)
      .field.active
        label Active?
        input(type="text", value=listing.title)
      if listing.type = garden
        .field.amount
          label Amount of space
          input(type="text", value=listing.typeInfo.squareMeters)

  script(type="text/javascript", src="/javascripts/page/listings.new.js")
  include ../snippets/footer-profile.jade
