if !user
  h1 Please Log in
  p You must be logged in to create a listing.  Please log in or create an Account.
  - createListing = true
  include ../account/mustlogin.jade

else
  - if (!listingType) listingType = 'gardener';
  div#new-listing(class=listingType+' new-listing', data-type=listingType, data-current-step="1")
    form#new-listing-form.new-listing-form(onsubmit="Listings.create('#new-listing-form'); return false;")
      input(type="hidden", name="owner", value="#{user.id}")
      input(type="hidden", name="ownerName", value="#{user.name}")
      ul.steps
        li.type.goto.current(data-goto='1')
          a(href="type") Type
        li.goto.location(data-goto='2')
          a(href="location") Location
        li.goto.disabled.info(data-goto='3', data-error="Make sure you've selected a Listing Type and entered a Location.", 3)
          a(href="info") Info
      h2 Create a new Listing
      .steps-container
        .step.type.current
          h3 Choose your listing type:
          .choose-type.clearfix(class=listingType)
            a.gardener(href="#", data-type="gardener")
              span Gardener
            a.space(href="#", data-type="space")
              span Available Space
            a.organic(href="#", data-type="organic")
              span Organic Materials
            a.tools(href="#", data-type="tools")
              span Tools & Stuff
          input#listingType(type="hidden", name="type",value=listingType)
          p.gardener You are listing as a Gardener looking for space to garden.
          p.space You are listing available space for someone else to garden in.
          p.organic You are listing extra organic materials to share (i.e. Mulch, worms, compost...etc).
          p.tools You are listing extra tools to share.
          button.next.small.goto(type="button", data-goto='2') enter your location &raquo;
        .step.location
          h3 Enter the listing location
          input.location(name="location", placeholder="address and zip")
          button.get-location.btn-small submit
          #location-results
            h3 Choose your location
            .location-results
          input#location-address(type="hidden", name="address")
          input#location-city(type="hidden", name="city")
          input#location-state(type="hidden", name="state")
          input#location-zip(type="hidden", name="zip")
          input#location-country(type="hidden", name="country")
          input#location-latLng(type="hidden", name="latLng")
          button.next.small.disabled.goto(type="button", data-goto='3', data-error="Please enter and select a location") Enter your details &raquo;
        .step.info
          h3 Tell us about your listings
          .field.required
            input(type='text', name="title", placeholder='title', required, data-parsley-length="[1, 100]")
          .field.required
            textarea(name="description", placeholder="Describe your Listing", required, data-parsley-length="[6, 240]", data-parsley-error-message="Tell us something about your listing, not too short, not too long. =)")
          //.field
            label(for="pic") pic
              input(type="file", name="pic")
          //.field
            input(type="hidden", name="imgData")
          .field.space
            input(type="number", name="squareMeters", placeholder="square meters.. roughly =)", data-parsley-group="space")
          .field.gardener.show-self
            label
              a(tooltip="You can include info about your gardening experience here") Enter Gardener Info
            .item
              textarea(type="text", name="gardenerBio", placeholder="Gardener Bio", data-parsley-length="[6, 500]", data-parsley-error-message="Tell us something about your gardening experience (no more than 500 chars).", data-parsley-group="gardener")
              if user.bio
                .field.gardener
                  label#bio-checkbox.checkbox.center-align(for=bio-checkbox, data-bio=user.bio)
                    input(type="checkbox", name="bio-checkbox")
                    | use my bio
          h4 options:
          .options
            .field
              label.checkbox
                input(type="checkbox", name="preciseMarker", value="true")
                | Use exact location&nbsp;
              span.note Will display precise marker on map
                a(href="#info", data-tooltip="By default, our map will display a marker on random location within a block or two of the location you enter. <br><br>Check this box to display a marker on your exact location (read our <a href='/privacy-policy' target='_blank'>privacy policy</a>). ") (more info)
            //.field
              label.checkbox
                input(type="checkbox", name="publicListing", value="true")
                | Public Listing&nbsp;
              span.note By clicking this you agree to our
                a(href="/about-public-listings", target="_blank") public listing terms
          button.next.disabled.submit(type="submit", data-error="Please fill out all *required fields") Create Listing
        .clear
  script(type="text/javascript", src="/javascripts/page/listings.new.js")
