doctype html(lang='en-US')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= title
    | &nbsp;| Yards to Gardens

  link(rel='pingback', href='http://map/xmlrpc.php')
  link(rel='icon', type='image/ico', href='/images/layout/favicon.ico')

  meta(property='og:title', content='Yards to Gardens | Home')
  meta(property='og:description', content='Just another WordPress site')
  meta(property='og:url', content='http://y2g.org/')
  meta(property='og:site_name', content='Yards to Gardens')
  meta(property='og:type', content='website')
  meta(property='og:image', name='thumb1', content='/images/layout/social.png')
  meta(property='og:image', name='thumb2', content='/images/layout/social1.png')
  meta(property='og:image', name='thumb3', content='/images/layout/social2.png')

  // STYLESHEETS
  link(rel='stylesheet', type='text/css', media='all', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/base.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/browser.css')
  //link(rel=stylesheet', type='text/css', media='all', href='/fonts/fonts.css')
  link(rel="stylesheet", type="text/css", media="all", href="https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,400italic,500,500italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700")
  //link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')
  //link(href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100,300italic,400italic', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/form.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/responsive.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/lib/jquery.ui.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/lib/qtip.css')

  script.
    // declare vars used throughout App
    var map, infoWindow, currentListings, loggedIn = false, returning = false;
    var infoBubble;
    var markersArray = [];

  script(type='text/javascript', src='/javascripts/load.js')

  block header

body(class=bodyClasses)
  if messages.error
    .alert.error
      div= messages.error
  if messages.info
    .alert.info
      div= messages.info
  if messages.success
    .alert.success
      div= messages.success
  #container.container

    #header_wrap.header_wrap
      header#header
        #beta-message This site is in BETA!
        a.mobile-menu-btn

        .mobile-menu-bg

        #logo.logo.left
          a(href='/')
            img.respond(src='/images/svg/logo-full.svg', data-default='/images/svg/logo-full.svg', data-mobile='/images/svg/logo-small.svg', data-medium='/images/svg/logo-small.svg', height='63', width='450', alt='Yards to Gardens.org')

        .mobile-menu
          #admin.admin.right
            if user
              span.logout.profile
                a.login_button.openmodal.logout(href='/account/profile/', data-modaltype='profile') Profile
                a.login_button.openmodal.messages.fa-envelope.fa(href='/messages/', data-modaltype='messages', title="messages")
                a.login_button.logout(href='/account/logout') logout
            else
              span.login
                a#show_login.login_button.login.openmodal(data-modaltype='login', href='/account/login/') Login
                a.login_button.openmodal.signup(href='/account/sign-up/', data-modaltype='sign-up') Sign Up
            #social.social
              a.outside_link.tw(href='https://twitter.com/yardstogardens') &#xF081;
              a.outside_link.fb(href='https://www.facebook.com/yardstogardens') &#xF082;
              a.outside_link.pi(href='http://www.pinterest.com/yardstogardens/') &#xF0D3;

          include snippets/menu.jade

          .clear

    block map

    #lower_wrap.lower_wrap
      #content_wrap.content_wrap
        #content.content
          .post.left
            block content

          // START SIDEBAR
          #sidebar.sidebar
            block sidebar
          // END SIDEBAR
          .clear
        // End Content
      // End Content_Wrap
    // End Lower_Wrap
    #footer_wrap.footer_wrap
      footer#footer
        #credit.credit &copy; 2015 Y2G.org&nbsp; | &nbsp;A project of&nbsp;
          a.lyra(href="http://www.lyradesigns.com", target="_blank") LYRA
          #footer-links.footer-links
            a(href="/privacy-policy") Privacy Policy
            | &nbsp;&nbsp;|&nbsp;&nbsp;
            a(href="/terms") Terms of Use
      // End Footer
    // End Footer Wrap
  // End Container
  .clear

  #modal.modal

  .modal_bg

  #message.message
    .content
    a.close
  // JAVASCRIPT
  script(type='text/javascript', src='/javascripts/concat.inc.js', style='')

  script(type='text/javascript', src='/javascripts/concat.gen.js')
