doctype html(lang='en-US')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= title
    | &nbsp;| Yards to Gardens

  link(rel='pingback', href='http://map/xmlrpc.php')
  link(rel='icon', type='image/ico', href='/images/layout/favicon.ico')

  meta(property='og:title', content='Yards to Gardens | Home')
  meta(property='og:description', content='Just another WordPress site')
  meta(property='og:url', content='http://y2g.org/')
  meta(property='og:site_name', content='Yards to Gardens')
  meta(property='og:type', content='website')
  meta(property='og:image', name='thumb1', content='/images/layout/social.png')
  meta(property='og:image', name='thumb2', content='/images/layout/social1.png')
  meta(property='og:image', name='thumb3', content='/images/layout/social2.png')

  // STYLESHEETS
  link(rel='stylesheet', type='text/css', media='all', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/base.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/style.css')
  link(rel='stylesheet', type='text/css', media='all', href='/fonts/fonts.css')
  link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100,300italic,400italic', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/form.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/responsive.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/lib/jquery.ui.css')
  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/lib/qtip.css')

  script.
    // declare vars used throughout App
    var map, infoWindow, loggedIn = false, returning = false;
    var infoBubble;
    var markersArray = [];

  script(type='text/javascript', src='/javascripts/map.load.js?')

  block header

body(class=bodyClasses)
  if messages.error
    .alert.error
      div= messages.error
  if messages.info
    .alert.info
      div= messages.info
  if messages.success
    .alert.success
      div= messages.success
  #container.container

    #header_wrap.header_wrap
      header#header
        a.mobile-menu-btn

        .mobile-menu-bg

        #logo.logo.left
          a(href='/')
            img.respond(src='/images/svg/logo-full.svg', data-default='/images/svg/logo-full.svg', data-mobile='/images/svg/logo-small.svg', data-medium='/images/svg/logo-small.svg', height='63', width='450', alt='Yards to Gardens.org')

        .mobile-menu
          #admin.admin.right
            if user
              span.logout.profile
                a.login_button.openmodal.logout(href='/account/profile/', data-modaltype='profile') Profile
                a.login_button.openmodal.messages.fa-envelope.fa(href='/messages/', data-modaltype='messages', title="messages")
                a.login_button.logout(href='/account/logout') logout
            else
              span.login
                a#show_login.login_button.login.openmodal(data-modaltype='login', href='/account/login/') Login
                a.login_button.openmodal.signup(href='/account/sign-up/', data-modaltype='sign-up') Sign Up
            #social.social
              a.outside_link.tw(href='https://twitter.com/yardstogardens') &#xF081;
              a.outside_link.fb(href='https://www.facebook.com/yardstogardens') &#xF082;
              a.outside_link.pi(href='http://www.pinterest.com/yardstogardens/') &#xF0D3;

          include snippets/menu.jade

          .clear

    block map

    #lower_wrap.lower_wrap
      #content_wrap.content_wrap
        #content.content
          .post.left
            block content

          // START SIDEBAR
          #sidebar.sidebar
            block sidebar
          // END SIDEBAR
          .clear
        // End Content
      // End Content_Wrap
    // End Lower_Wrap
    #footer_wrap.footer_wrap
      footer#footer
        #credit.credit &copy; 2015 Y2G.org&nbsp; | &nbsp;A project of&nbsp;
          a.lyra(href="http://www.lyradesigns.com", target="_blank") LYRA
      // End Footer
    // End Footer Wrap
  // End Container
  .clear

  #modal.modal

  .modal_bg

  #message.message
    .content
    a.close
  // JAVASCRIPT
  script(type='text/javascript', src='/javascripts/jquery/jquery.min.js', style='')

  script(type='text/javascript', src='/javascripts/tweenmax.js')

  script(type='text/javascript', src='/javascripts/parsley.js')
  script(type='text/javascript', src='/javascripts/parsley.remote.min.js')
  script(type='text/javascript', src='/javascripts/jquery/jquery-qtip.min.js')
  script(type='text/javascript', src='/javascripts/jquery/jquery-ui.js')
  // <script type="text/javascript" src="http://mapjs/jquery/jquery-tools.js"></script>
  script(type='text/javascript', src='/javascripts/lyra.js')

  script(type='text/javascript', src='/javascripts/main.js')

  script(type='text/javascript', src='/javascripts/responsive.js')

  // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7oM_im_K8XAFd25v4ZTAgnk2pAXHLblM"></script>
  //
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHfWHqA0vkS16oU6Qi0xAT-6-RQ51edD4&amp;sensor=false">
    </script><script src="https://maps.gstatic.com/intl/en_us/mapfiles/api-3/15/5/main.js" type="text/javascript"></script>
  //
    <?php if ($GLOBALS[ 'map' ] == true) : //include 'lib/jsphp/dbcall.js.php'; ?>
    <?php $location = 'san francisco ca'; ?>
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript">
    getLatLng('<?php echo $location; ?>', '3');
    </script>
    <script type="text/javascript" src="js/infobubble.js"></script>
    <script type="text/javascript" src="js/icons.js"></script>
    <!--<script type="text/javascript" src="<?php bloginfo('template_directory'); ?>/lib/js/hello.js"></script>
    <!--<script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/map_interface.js"></script>
