if !to
  h2 There has been an error.
  p
    a(href="/") Return home.
else
  - if (ownerName == 'undefined') { ownerName = to } // Set Name
  h2 Send a note to #{ownerName}
  form#message-form(method="post", action="/messages/send", onsubmit="Messages.send(this); return false;")
      input(type="hidden", name="to", value="#{to}")
      input(type="hidden", name="listingId", value="#{listingId}")
      input(type="hidden", name="listingTitle", value="#{listingTitle}")
      .field.textleft
        strong Subject:
        input.subject(name="subject", placeholder="About your listing: "+listingTitle, value="About your listing: "+listingTitle)
      .field.textleft
        strong Message:
        textarea(name='message', value='', placeholder='type your note.', required)
      if user
        input(type="hidden", name="from", value="#{user.email}")
        input(type="hidden", name="fromName", value="#{user.name}")
      else
        .field.textleft
          strong Your Name:
          input(type="text", name="fromName", value="", required, placeholder="")
        .field.textleft
          strong Your Email:
          input(type="email", name="from", value="", required, placeholder="")
      if !user
        .field
          .g-recaptcha(data-sitekey="6Lf9XwATAAAAAPuqxBekRTPy_e7n-jMqGkNNyMnk")
          script(type="text/javascript" src="https://www.google.com/recaptcha/api.js")
      input.next.submit(type='submit', value='send')

script(type="text/javascript", src="/javascripts/page/message.js")

include ../snippets/footer-lite.jade
